---
import { pageWiseMeta } from '@lib/config';
import { getCollection } from 'astro:content';
import { getAllTagsMap, getPublishedAndSortedPosts } from '@lib/utils';
import SimpleLayout from '@layouts/SimpleLayout.astro';
import TagsList from '@components/TagsList.astro';
import SearchList from '@components/SearchList';

const posts = getPublishedAndSortedPosts(await getCollection('blog'));

// TODO: use this tagsMap to renders tags list on UI
const tagsMap = getAllTagsMap(posts);
const allTags = Object.keys(tagsMap);
const { title, description } = pageWiseMeta.blogs;
---

<SimpleLayout
  title={title}
  description={description(posts.length)}
  heroTitle='Writing on software development, system design, linux and in general tech.'
  heroSubtitle={`I have been writing since 2020, mostly around tech and my career. In total I have written ${posts.length} posts. I hope you enjoy them.`}
>
  <div slot='header-side-section'>
    <div
      class='flex flex-col gap-2 rounded-2xl border border-zinc-100 p-6 dark:border-zinc-700/40'
    >
      <h3
        class='font-semibold text-xs uppercase tracking-wide text-zinc-500 dark:text-zinc-400'
      >
        Filter by Tags
      </h3>
      <TagsList tags={allTags} />
    </div>
  </div>
  <SearchList searchList={posts} client:load />
</SimpleLayout>
