---
import { pageWiseMeta } from '@lib/config';
import { getCollection } from 'astro:content';
import { getAllTagsMap, getPublishedAndSortedPosts } from '@lib/utils';
import SimpleLayout from '@layouts/SimpleLayout.astro';
import SearchList from '@components/SearchList';
import FilterByTagsCard from '@components/ui/FilterByTagsCard.astro';

const posts = getPublishedAndSortedPosts(await getCollection('blog'));
const tagsMap = getAllTagsMap(posts);
const allTags = Object.keys(tagsMap);
const { title, description } = pageWiseMeta.blogs;
---

<SimpleLayout title={title} description={description(posts.length)}>
  <div slot='header-main-section'>
    <h1
      class='text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl'
    >
      Writing on software development, system design, linux and in general tech.
    </h1>
    <p class='mt-6 text-base text-zinc-600 dark:text-zinc-400'>
      I have been writing since 2020, mostly around tech and my career. <br />
      In total I have written <span
        class='font-semibold underline decoration-wavy'>{posts.length}</span
      >
      posts. I hope you enjoy them.
    </p>
  </div>
  <div slot='header-side-section'>
    <FilterByTagsCard tagsList={allTags} />
  </div>
  <SearchList searchList={posts} client:load />
</SimpleLayout>
