---
import FormattedDate from '@components/FormattedDate.astro';
import { pageWiseMeta } from '@lib/config';
import { getCollection } from 'astro:content';
import { isDateBefore } from '@lib/utils';
import SimpleLayout from '@layouts/SimpleLayout.astro';

const posts = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((post1, post2) => {
    if (isDateBefore(post1.data.date, post2.data.date)) {
      return 1;
    } else {
      return -1;
    }
  });

const { title, description } = pageWiseMeta.blogs;
---

<SimpleLayout
  title={title}
  description={description(posts.length)}
  heroTitle='Writing on software development, system design and my journey.'
  heroSubtitle={`I have been writing since 2020, mostly around tech and my career. In total I have written ${posts.length} posts. I hope you enjoy them.`}
>
  <main>
    <section>
      <ul>
        {
          posts.map((post) => (
            <li>
              <FormattedDate date={post.data.date} />
              <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</SimpleLayout>
