---
import { pageWiseMeta, siteMetadata } from '@lib/config';
import SimpleLayout from '@layouts/SimpleLayout.astro';
import SocialLink from '@components/SocialLink.astro';
import { getAllTagsMap, getPublishedAndSortedPosts } from '@lib/utils';
import { getCollection } from 'astro:content';
import { recentPostsLimit } from '@lib/constants';
import FilterByTagsCard from '@components/ui/FilterByTagsCard.astro';
import ArticleCard from '@components/ui/ArticleCard';
import NewsletterForm from '@components/NewsletterForm';

// @ts-ignore
import Pencil from '@astropub/icons/Pencil2';
// @ts-ignore
import ChevronRight from '@astropub/icons/ChevronRight';
import Photos from '@components/Photos.astro';
import CarbonAd from '@components/CarbonAd.astro';

const allPosts = getPublishedAndSortedPosts(await getCollection('blog'));
const allTags = getAllTagsMap(allPosts);
const tagsList = Object.keys(allTags);
const recentPosts = allPosts.slice(0, recentPostsLimit);

const { title, description } = pageWiseMeta.home;
const from_url = Astro.url.toString();
---

<SimpleLayout title={title} description={description}>
  <div slot='header-main-section'>
    <h1
      class='text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl'
    >
      Crafting Code and Embracing the Unknown
    </h1>
    <p class='mt-6 text-base text-zinc-600 dark:text-zinc-400'>
      I’m Akash Rajpurohit, a software engineer & tech enthusiast based in
      Mumbai, India 🇮🇳. <br />
      Welcome to my digital domain, where I engineer solutions and ignite imaginations.
    </p>
    <ul role='list' class='mt-6 flex gap-2'>
      <SocialLink
        href={siteMetadata.twitter}
        aria-label='Follow on Twitter'
        type='twitter'
      />
      <SocialLink
        href={siteMetadata.github}
        aria-label='Follow on GitHub'
        type='github'
      />
      <SocialLink
        href={siteMetadata.linkedin}
        aria-label='Follow on LinkedIn'
        type='linkedin'
      />
      <SocialLink
        href={siteMetadata.instagram}
        aria-label='Follow on Instagram'
        type='instagram'
      />
    </ul>
  </div>
  <div slot='hero-photos'>
    <Photos />
  </div>
  <div class='mt-24 md:mt-28'>
    <div
      class='mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2'
    >
      <div class='flex flex-col gap-8'>
        <h2 class='flex text-sm font-semibold text-zinc-600 dark:text-zinc-400'>
          <Pencil class='h-5 w-5 flex-none' />
          <span class='ml-3'>Recent articles</span>
        </h2>
        <div class='flex flex-col gap-16'>
          {recentPosts.map((post) => <ArticleCard {...post} />)}
        </div>
        <div class='mt-4 flex justify-end'>
          <a
            href='/blogs/'
            class='text-primary-700 dark:text-primary-500 hover:text-primary-600 dark:hover:text-primary-400 flex items-center gap-1'
            >See more <ChevronRight class='h-4 w-4 flex-none' /></a
          >
        </div>
      </div>
      <div class='lg:pl-16 xl:pl-24 flex flex-col gap-8'>
        <FilterByTagsCard tagsList={tagsList} />
        <NewsletterForm from_url={from_url} client:idle />
        <CarbonAd />
      </div>
    </div>
  </div>
</SimpleLayout>
