---
import { twJoin } from 'tailwind-merge';
import { siteMetadata } from '@lib/config';
import SocialLink from './SocialLink.astro';
import GithubIcon from './ui/icons/GithubIcon.astro';
import TwitterIcon from './ui/icons/TwitterIcon.astro';
import LinkedinIcon from './ui/icons/LinkedinIcon.astro';
import InstagramIcon from './ui/icons/InstagramIcon.astro';
import MailIcon from './ui/icons/MailIcon.astro';

type Item = {
  name: string;
  href: string;
  isAvailable?: boolean;
  icon?: string;
};

const { pages } = siteMetadata;

const navigation: Record<string, Item[]> = {
  general: [
    { name: 'Home', href: pages.home },
    { name: 'About', href: pages.about },
    { name: 'Blogs', href: pages.blogs },
    { name: 'Projects', href: pages.projects },
    { name: 'Snippets', href: pages.snippets, isAvailable: false },
  ],
  extra: [
    { name: 'Newsletter', href: pages.newsletter, isAvailable: false },
    { name: 'Uses', href: pages.uses },
    { name: 'Resume', href: pages.resume, isAvailable: false },
    { name: 'Tweets', href: pages.tweets, isAvailable: false },
    { name: 'Tags', href: pages.tags, isAvailable: false },
    { name: 'Privacy Policy', href: pages.privacyPolicy },
  ],
};

const today = new Date();
---

<div class='w-full pt-16 pb-8 px-4 sm:px-12'>
  <footer class='relative z-50 mx-auto max-w-5xl'>
    <div
      class='flex flex-col md:flex-row gap-4 justify-between items-start w-full border-t border-zinc-100 pb-16 pt-10 dark:border-zinc-700/40'
    >
      <div
        class='flex flex-1 flex-row gap-20 sm:px-4 lg:px-8 md:gap-48 justify-start'
      >
        <div>
          <h3 class='text-sm font-semibold tracking-wider uppercase'>
            General
          </h3>
          <ul class='mt-4 space-y-2'>
            {
              navigation.general.map((item) => {
                if (item.isAvailable === false) {
                  return (
                    <li class='block text-base text-zinc-600 no-underline dark:text-zinc-200 opacity-50 cursor-not-allowed'>
                      {item.name}
                    </li>
                  );
                }

                return (
                  <li>
                    <a
                      href={item.href}
                      class='block text-base text-zinc-600 no-underline hover:text-zinc-800 dark:hover:text-zinc-100 dark:text-zinc-200 hover:underline'
                    >
                      {item.name}
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </div>
        <div>
          <h3 class='text-sm font-semibold tracking-wider uppercase'>Extras</h3>
          <ul class='mt-4 space-y-2'>
            {
              navigation.extra.map((item) => {
                if (item.isAvailable === false) {
                  return (
                    <li class='block text-base text-zinc-600 no-underline dark:text-zinc-200 opacity-50 cursor-not-allowed'>
                      {item.name}
                    </li>
                  );
                }

                return (
                  <li>
                    <a
                      href={item.href}
                      class='block text-base text-zinc-600 no-underline hover:text-zinc-800 dark:hover:text-zinc-100 dark:text-zinc-200 hover:underline'
                    >
                      {item.name}
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </div>
      </div>
      <div class='mt-8 md:mt-0 flex-1 flex justify-end'>
        <h1>NEWSLETTER HERE</h1>
      </div>
    </div>
    <div
      class='flex flex-col gap-4 md:flex-row items-center justify-between mt-12'
    >
      <ul role='list' class='flex items-center md:order-2 order-1 space-x-2'>
        <SocialLink href={siteMetadata.github} Icon={GithubIcon} />
        <SocialLink href={siteMetadata.twitter} Icon={TwitterIcon} />
        <SocialLink href={siteMetadata.linkedin} Icon={LinkedinIcon} />
        <SocialLink href={siteMetadata.instagram} Icon={InstagramIcon} />
        <SocialLink href={`mailto:${siteMetadata.email}`} Icon={MailIcon} />
      </ul>
      <p class='md:order-1 order-2 text-base'>
        &copy; {today.getFullYear()}{' '}
        {siteMetadata.author}
      </p>
    </div>
  </footer>
</div>
