---
import type { CollectionEntry } from 'astro:content';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import FormattedDate from '@components/FormattedDate.astro';
import ArticleHead from '@components/ArticleHead.astro';

type Props = {
  data: CollectionEntry<'blog'>['data'];
  slug: CollectionEntry<'blog'>['slug'];
};

const {
  data: { title, summary, date, lastmod },
  slug,
} = Astro.props;
// TODO: generate og image from cloudinary helper
const ogImage = '';
---

<html lang='en'>
  <head>
    <ArticleHead
      title={title}
      description={summary}
      image={ogImage}
      slug={slug}
      date={date}
      lastmod={lastmod}
    />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article class='prose prose-slate dark:prose-invert'>
        <h1 class='title'>{title}</h1>
        <FormattedDate date={date} />
        {
          lastmod && (
            <div class='last-updated-on'>
              Last updated on <FormattedDate date={lastmod} />
            </div>
          )
        }
        <hr />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
