---
import { twJoin } from 'tailwind-merge';
import type { CollectionEntry } from 'astro:content';
import Card from '@components/ui/card/Card.astro';
import CardTitle from '@components/ui/card/CardTitle.astro';
import CardEyebrow from '@components/ui/card/CardEyebrow.astro';
import FormattedDate from '@components/FormattedDate.astro';
import CardDescription from '@components/ui/card/CardDescription.astro';
import CardCta from '@components/ui/card/CardCta.astro';

type Props = CollectionEntry<'blog'> & {
  class?: string;
};

const {
  data: { title, summary, date, tags },
  slug,
  class: className,
} = Astro.props;
---

<div class={twJoin('flex flex-col gap-16', className)}>
  <Card class='h-full'>
    <CardEyebrow class='text-primary-400 dark:text-primary-500'>
      {tags.map((tag) => <span class='mr-2'># {tag}</span>)}
    </CardEyebrow>
    <div class='flex-1'>
      <CardTitle href={`/blog/${slug}/`} class='group-hover:text-primary-500'>
        {title}
      </CardTitle>
      <CardDescription class='line-clamp-3'>{summary}</CardDescription>
    </div>
    <CardCta class='font-thin text-zinc-400 dark:text-zinc-500'>
      <FormattedDate date={date} />
    </CardCta>
  </Card>
</div>
